accelerate==1.4.0
autoroot==1.0.1
bitsandbytes==0.45.5
datasets==3.4.1
decord==0.6.0
deepspeed==0.16.8
depth_pro==0.1
editdistance==0.8.1
einops==0.8.1
fire==0.7.0
flash_attn==2.7.4.post1
gradio==5.30.0
huggingface_hub==0.29.1
matplotlib==3.10.3
numerize==0.13
numpy==2.2.6
openai==1.79.0
pandas==2.2.3
peft==0.14.0
Pillow==11.2.1
pyarrow==19.0.1
pycocoevalcap==1.2
python_Levenshtein==0.27.1
pytz==2024.2
qwen_vl_utils==0.0.11
ray==2.46.0
Requests==2.32.3
scikit_learn==1.6.1
scipy==1.15.3
sentencepiece==0.2.0
shortuuid==1.0.13
shutup==0.2.0
torch==2.5.1+cu124
torchvision==0.20.1+cu124
tqdm==4.66.5
transformers==4.49.0
word2number==1.1
xformers==0.0.30
